APP_ENV=dev
MOCK_MODE=true

ONEC_BASE_URL=
ONEC_LOGIN=
ONEC_PASSWORD=

MOODLE_BASE_URL=
MOODLE_TOKEN=

API_DEMO_LOGIN=student@university.ru
API_DEMO_PASSWORD=password123

# Вход как в Moodle (любое из полей + пароль Moodle):
MOODLE_STUDENT_ID=
MOODLE_EMAIL=
STUDENT_FULL_NAME=
MOODLE_PASSWORD=
